<section class="about" xmlns="http://www.w3.org/1999/html">
    <div class="flex-about" id="flex-about">
        <div class="col1">

        </div>
    </div>

    <div class="flex-youtube" id="flex-youtube">
        <div style="margin-left:0; " class="col1">
            <h2 style="color: white; margin-top: 40%;">...He has a youtube channel...</h2>
            <a style="text-decoration: none;" href="https://www.youtube.com/channel/UC7xPmFMYmQAcC6HQwhkRHcw" target="_blank"><h4>Watch on Youtube</h4></a>
        </div>
        <div class="col2">
            <div class="video-strip">

            </div>
        </div>
    </div>

    <div class="flex-got" id="flex-got">
        <div class="col1">
            <h3 style="color: white; margin-top: 30px">...Creating web application...</h3>
            <a href="http://gotfanpagelover.herokuapp.com/" target="_blank"><div class="got"></div></a>
        </div>
        <div class="got-wrap">
            <h3 style="color: white; font-weight: 400;">...other Game of thrones project...</h3>
         <div class="got-flex">

             <a href="http://beautifuldeath.com/" target="_blank"><div class="item1">
                    <p style="margin-top: 30%; margin-left: 20%; font-weight: 700;">Beautiful Death</p>
                </div></a>
             <a href="http://patorjk.com/vis/chaos-ladder/" target="_blank"><div class="item2">
                    <p style="margin-top: 30%; margin-left: 20%; font-weight: 700;">Deathchart D3</p>
                </div></a>
             <a href="http://www.jeromecukier.net/projects/agot/events.html" target="_blank"><div class="item3">
                    <p style="margin-top: 30%; margin-left: 20%; font-weight: 700;">Events</p>
                </div></a>
                <a href="http://thronesviz.github.io/" target="_blank"><div class="item4">
                    <p style="margin-top: 30%; margin-left: 20%; font-weight: 700;">Causes of death</p>
                </div></a>

         </div>
        </div>
    </div>

    <div class="flex-social" id="flex-social">
        <div style="height: 100px; margin-left: 20px; margin-top: 200px; color: black;" class="contact">
            <h2 style="font-weight: 600; opacity: 0.8; text-shadow: 3px 3px 1px black">Follow me on:</h2>
        </div>
        <a href="https://www.facebook.com/suman.deb.718?ref=bookmarks" target="_blank"><div class="facebook animated infinite rubberBand"></div></a>
        <a href="https://twitter.com/elite_suman09" target="_blank"><div class="twitter animated infinite rubberBand"></div></a>
        <a href="https://www.instagram.com/elite_suman/" target="_blank"><div class="instagram animated infinite rubberBand"></div></a>
        <a href="https://plus.google.com/u/0/113083958176629461547" target="_blank"><div class="googleplus animated infinite rubberBand"></div></a>
    </div>

    <div class="email" id="email">
        <div class="minion">

        </div>
        <h2>suman.magic97@gmail.com</h2>

    </div>
</section>
