<header>
        <div class="header-position">
            <div class="logo">

            </div>
         <nav class="site-nav">
            <ul>
                <li><span class="glyphicon glyphicon-home"></span> <a href="#flex-about">home</a></li>
                <li><span class="glyphicon glyphicon-list-alt"></span> <a href="" data-toggle="modal" data-target="#aboutpage">about page</a></li>
                <li><span class="glyphicon glyphicon-user"></span> <a href="" data-toggle="modal" data-target="#aboutme">about me</a></li>
                <li><span class="glyphicon glyphicon-expand"></span> <a href="#flex-youtube">youtube</a></li>
                <li><span class="glyphicon glyphicon-tint"></span> <a href="#flex-got">portfolio</a></li>
                <li><span class="glyphicon glyphicon-camera"></span> <a href="#flex-social">social</a></li>
                <li><span class="glyphicon glyphicon-envelope"></span> <a href="#email">email me</a></li>
            </ul>
         </nav>
        </div>
</header>
